# NextAuth Settings
NEXTAUTH_SECRET=generate_any_random_string_here
NEXTAUTH_URL=http://localhost:3000

# Backend URL (Express service)
BACKEND_URL=http://localhost:5000

# Cloudinary Setup (For direct unsigned client-side uploads)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
